p,
h1,
h2,
a {
    font-family: "Noto Sans", "Noto Sans", serif;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

.nav {
    background-color: #F1F1F1;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 15px;
    padding: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F1F1F1;
    padding: 10px;
    text-align: center;
}

a:link {
    text-decoration: none;
}

.pesquisar {
    height: 21px;
    width: 21px;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
}

.btn {
    border-top-width: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom-width: 0px;
    padding-left: 0px;
    border-left-width: 0px;
    padding-right: 0px;
    border-right-width: 0px;
    height: 21px;
}