/* *, *:before, *:after {margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}
html {overflow-x: hidden} */
body{
    background-color: #f2f2f2;
    width: 99%;
    height: 99%;
}

.geral{
    display:block;
    position:absolute;
    height: 100%;
    width:100%;
    
}

.boxg{
    position: relative;
    text-align: center;
}

.boxg hr{
    visibility: hidden;
    /* visibility: visible; */
}

.container{
    position: absolute;
    text-align: center;
    width: 98%;
    display:inline-block;
    /* display: none; */
    text-align:center;
}
.header {
    background-color: #ccc;
    text-align: center;
    padding: 20px;
}

.nav {
    background-color: #F1F1F1;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    visibility: hidden;
    /* visibility: visible; */
}

.nav li {
    display: inline-block;
    font-size: 15px;
    padding: 15px;
}


.paciente{
    
    position: fixed;
    width: 98%;
    height: 40%;
}

.busca {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    
}

.pesquisa{
    display: inline-flex;
    text-align: center;
    
}

.paciente h1{
    font-weight:normal;
}
.paciente button{
    margin-left: 10px;
    height: 30px;
}
.paciente img{
    height: 25px;
    width: 25px;
}

.newcadastro{
    width: 150px;
    height: 40px;
    font-size: 11pt;
    font-family: Roboto, Helvetica, Arial, Meiryo, sans-serif;
    border: 1px solid #59abe3;
    background:#59abe3;
    color: #fafafa;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.containeri{
    display: none;
    /* background-color: #59abe3; */
    left:50%;
    position: absolute;
    text-align: center;
    height: 500px;
    width: 800px;
    transform: translateX(-50%);
    
}

.boxi{
    
    display: inline-block;
    padding: 5px;
    width: 350px;
    height: 230px;
    background-color: #59abe3;
    text-align: left;
    margin: 5px;
}

.boxi h2{
    text-align: center;
}



.idd{
    height: 30px;
    
}
.options{
    float: right;
    width: 200px;
}

.btn{
    position: absolute;
    float: right;
    top: 100%;
}
.containern{
    display: none;
     /*background-color: #59abe3; */

    position: absolute;
    text-align: center;
    text-align:center;
    height: 250px;
    width: 390px;
    left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);
    
}

.boxn{
    display: inline-block;
    height: 250px;
    width: 390px;
    padding: 5px;
    background-color: #59abe3;
    text-align: left;
}
.boxn h2{
    text-align: center;
}

.containerd{
    display: none;
    /* background-color: #59abe3; */

    position: absolute;
    text-align: center;
    text-align:center;
    height: 63%;
    width: 98%;
    
}
.dados{
    text-align: left;
    padding: 5px;
    width: 460px;
    height: 120px;
    /*background-color: blue;*/
}
.dados h2{
    text-align: center;
}
.dados input{
    width: 400px;
}
.situacao{
    position: absolute;
    width: 460px;
    height: 60px;
}
.situacao1{
    margin-top: 5px;
    text-align: left;
    position: absolute;
    width: 460px;
    height: 25px;
    /*background-color: #59abe3;*/
}
.radio{
    margin-top: 500px;
    width: 500px;
    background-color: #59abe3;
}
.containere{
    display: none;
    /* background-color: #59abe3; */

    position: absolute;
    text-align: center;
    text-align:center;
    height: 63%;
    width: 98%;
    
}

.containerc{
    display: none;
    /* background-color: #59abe3; */

    position: absolute;
    text-align: center;
    text-align:center;
    height: 63%;
    width: 98%;
    
}

.containerv{
    display: none;
    /* background-color: #59abe3; */

    position: absolute;
    text-align: center;
    text-align:center;
    height: 63%;
    width: 98%;
    
}
.footer {
    position: absolute;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    top: 95%;
    width: 97%;
    display:block;
    
}